* {
  margin: 0;
  padding: 0; }

* {
  font-family: 'Judson', serif; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 140px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: lighter;
  width: 100%;
  height: 100%; }
  footer .footer__direc .direc__ubi {
    margin: 0; }
  footer .footer__direc .direc__p {
    margin: 0; }
  footer .footer__nav .logo-redes {
    margin-left: 40px; }

/*-------------------MOBILE FOOTER-------------*/
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    font-size: 15px; }
    footer .footer__direc .direc__p {
      text-align: center; }
    footer .footer__nav {
      width: 100%;
      display: flex;
      justify-content: center; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%; }
  .header .header__navbar {
    width: 100%;
    background-color: transparent; }
    .header .header__navbar .header__logo {
      width: 150px;
      height: auto; }
    .header .header__navbar .navbar__list {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .header .header__navbar .navbar__list .list__pag {
        font-size: 24px;
        border: 3px solid #C9AC1E;
        border-radius: 60px;
        width: 100%;
        height: 45px;
        text-align: center;
        background-color: rgba(48, 43, 34, 0.473);
        margin-right: 10%; }
        .header .header__navbar .navbar__list .list__pag:hover {
          font-size: 24px;
          border: 3px solid #C9AC1E;
          border-radius: 60px;
          width: 100%;
          height: 45px;
          text-align: center;
          background-color: rgba(238, 160, 15, 0.473);
          margin-right: 10%; }

/*---------------------MOBILE HEADER-------------*/
@media screen and (max-width: 768px) {
  .navbar-toggler {
    border: 2px solid #C9AC1E;
    background-color: rgba(238, 160, 15, 0.473); }
  .header__logo {
    width: 130px;
    height: auto; }
  .navbar__list {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .nav-link {
    font-size: 19px;
    padding: 0;
    display: inline; }
  li {
    margin-top: 15px; } }

.services {
  background-image: url(../img/fondoservicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .services h2 {
    color: white;
    font-family: 'Judson', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    font-weight: lighter; }
  .services .service__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px; }
    .services .service__container .container__manicure {
      width: 80vw;
      height: auto;
      background-color: rgba(243, 218, 216, 0.5);
      border-radius: 40px;
      padding: 30px; }
      .services .service__container .container__manicure h3 {
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: lighter; }
      .services .service__container .container__manicure .manicure__service {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 80px; }
        .services .service__container .container__manicure .manicure__service .service__img {
          width: 80%;
          height: auto;
          border-radius: 15px;
          box-shadow: 3px 3px 10px; }
        .services .service__container .container__manicure .manicure__service .manicure__description {
          margin: 30px;
          display: flex;
          flex-direction: row; }
          .services .service__container .container__manicure .manicure__service .manicure__description .description__listm {
            list-style-type: circle; }
            .services .service__container .container__manicure .manicure__service .manicure__description .description__listm .list__type {
              font-size: 20px;
              font-weight: lighter;
              color: white;
              text-align: start;
              margin-right: 150px; }
    .services .service__container .container__facial {
      margin-top: 60px;
      width: 80vw;
      height: auto;
      background-color: rgba(243, 218, 216, 0.5);
      border-radius: 40px;
      padding: 30px; }
      .services .service__container .container__facial h3 {
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: lighter; }
      .services .service__container .container__facial .facial__service {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 80px;
        align-items: center;
        margin-top: 50px; }
        .services .service__container .container__facial .facial__service .facial__description {
          margin-right: 80px;
          display: flex;
          flex-direction: row; }
          .services .service__container .container__facial .facial__service .facial__description .description__listf {
            list-style-type: circle; }
            .services .service__container .container__facial .facial__service .facial__description .description__listf .list__type {
              font-size: 20px;
              font-weight: lighter;
              color: white;
              text-align: start;
              margin-right: 150px; }
    .services .service__container .container__massages {
      margin-top: 60px;
      width: 80vw;
      height: auto;
      background-color: rgba(243, 218, 216, 0.5);
      border-radius: 40px;
      padding: 30px; }
      .services .service__container .container__massages h3 {
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: lighter; }
      .services .service__container .container__massages .massages__service {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        margin-top: 50px; }
        .services .service__container .container__massages .massages__service .massages__description {
          margin-right: 80px;
          display: flex;
          flex-direction: row; }
          .services .service__container .container__massages .massages__service .massages__description .description__listma {
            list-style-type: circle; }
            .services .service__container .container__massages .massages__service .massages__description .description__listma .list__type {
              font-size: 20px;
              font-weight: lighter;
              color: white;
              text-align: start;
              margin-right: 150px; }

/*---------------------------MOBILE PAGINA SERVICIOS--------------------------*/
@media screen and (max-width: 768px) {
  .service__tittle {
    font-size: 30px;
    margin-top: 10px; }
    .service__tittle .container__manicure {
      width: 80%;
      height: auto;
      padding: 5px; }
      .service__tittle .container__manicure:hover {
        transform: none; }
      .service__tittle .container__manicure .manicure__service {
        flex-direction: column;
        margin: 10px; }
        .service__tittle .container__manicure .manicure__service .service__img {
          width: 100%; }
        .service__tittle .container__manicure .manicure__service .manicure__description {
          margin: 30px;
          display: flex;
          flex-direction: column; }
          .service__tittle .container__manicure .manicure__service .manicure__description .description__listm {
            list-style-type: circle; }
    .service__tittle .container__facial {
      width: 80%;
      height: auto;
      padding: 5px; }
      .service__tittle .container__facial:hover {
        transform: none; }
      .service__tittle .container__facial .facial__service {
        display: flex;
        flex-direction: column;
        margin: 10px; }
        .service__tittle .container__facial .facial__service .facial__description {
          margin-right: 80px;
          display: flex;
          flex-direction: column; }
          .service__tittle .container__facial .facial__service .facial__description .description__listf {
            list-style-type: circle;
            margin-left: 90px; }
    .service__tittle .container__massages {
      width: 80%;
      height: auto;
      padding: 5px; }
      .service__tittle .container__massages:hover {
        transform: none; }
      .service__tittle .container__massages .massages__service {
        display: flex;
        flex-direction: column;
        margin: 10px; }
        .service__tittle .container__massages .massages__service .massages__description {
          margin-right: 80px;
          display: flex;
          flex-direction: column; }
          .service__tittle .container__massages .massages__service .massages__description .description__listma {
            list-style-type: circle; }
    .service__tittle .list__type {
      text-align: center;
      width: 100%; } }

/*------------------------------------ Pag INICIO-------------*/
.index {
  background-image: url(../img/inicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .index h1 {
    color: white;
    font-family: 'Judson', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: lighter; }
  .index .main__index {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-left: 60px; }
    .index .main__index .index__text {
      background-color: rgba(118, 175, 157, 0.8);
      width: 50%;
      height: auto;
      margin-right: 60px;
      border-radius: 30px; }
      .index .main__index .index__text .text__tittlemain {
        color: white;
        text-align: center;
        font-size: 30px;
        margin: 20px; }
      .index .main__index .index__text .text__description {
        color: white;
        text-align: center;
        font-size: 25px;
        width: 100%; }
    .index .main__index .carousel {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      .index .main__index .carousel .carousel-inner {
        width: 60%;
        border-radius: 30px; }
      .index .main__index .carousel .button-carousel {
        width: 350px; }

/*-------------------MOBILE INICIO-------------*/
@media screen and (max-width: 768px) {
  .index {
    background-size: cover; }
    .index h1 {
      font-size: 31px; }
    .index .main__index {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center; }
      .index .main__index .index__text {
        width: 100%; }
        .index .main__index .index__text .text__tittlemain {
          font-size: 21px;
          margin: 5px; }
          .index .main__index .index__text .text__tittlemain .text__description {
            font-size: 16px;
            margin-top: -20px; }
      .index .main__index .carousel-inner {
        width: 100%; }
      .index .main__index .carousel-control-next, .index .main__index .carousel-control-prev {
        width: 10%; } }
